:root {
    --su: 4.5vw;
    --fade-duration: 700ms;
    --rotate-duration: 100ms;
  }
  
body {
    background-color: rgb(42, 56, 69);
}

.logo{
    position:absolute;
    width: var(--su);
    height: var(--su);
    transition: transform var(--rotate-duration) ease-in-out;
}

.logo_container {
    position: relative;
    margin: calc(.25 * var(--su));
    margin-top: calc(.50 * var(--su));
    width: var(--su);
    height: var(--su);
    border-radius: calc(.5 * var(--su));
    display: inline-block;
    /* background-color: black; */
}

.big {
    width: calc(1.75 * var(--su));
    height: calc(1.75 * var(--su));
    border-radius: calc(1 * var(--su));
}

.big.logo_container {
    top: calc(.4 * var(--su));
}

.active {
    opacity: 1;
    animation: fade_in var(--fade-duration) ease-in-out;
}

.inactive {
    opacity: 0;
    animation: fade_out var(--fade-duration) ease-in-out;
}


.rotate {
    transform: rotate(-20deg);
    transition: transform var(--rotate-duration) ease-in-out;
}

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: rotate(-20deg);
        top: 0;
    } 

    50% {
        top: calc(-.125 * var(--su));
    }

    100% {
        opacity: 1;
        transform: rotate(-360deg);
        top: 0;
    }
    
}

@keyframes fade_out {
    0% {
        opacity: 1;
        transform: rotate(-20deg);
        top: 0;
    } 

    50% {
        top: calc(-.125 * var(--su));
    }

    100% {
        opacity: 0;
        transform: rotate(-360deg);
        top: 0;
    }
    
}